@use '/assets/scss/variables' as *;

.result-card {
  width: 100%;
  padding: 28px;
  background: #fff;
  border: 1px solid #e2e8f0;
  border-radius: 14px;

  &__header {
    margin-bottom: 24px;

    > span {
      font-size: 12px;
      font-weight: 600;
      color: #9b9b9b;
    }

    h2 {
      margin: 6px 0;
      font-size: 22px;
      color: #1e293b;
    }

    p {
      margin: 0;
      font-size: 14px;
      color: #64748b;
    }
  }

  &__main {
    padding: 24px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-radius: 10px;
    background: #099e09;

    span {
      font-size: 14px;
      color: #dff5df;
    }

    strong {
      font-size: 30px;
      color: #fff;
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
  }

  &__item {
    padding: 16px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    border-bottom: 1px solid #e2e8f0;

    span {
      font-size: 14px;
      color: #64748b;
    }

    strong {
      font-size: 14px;
      color: #1e293b;
      text-align: right;
    }
  }
}

@media (max-width: 500px) {
  .result-card {
    padding: 20px;

    &__main {
      strong {
        font-size: 25px;
      }
    }

    &__item (
      align-items: flex-start;
      flex-direction: column;
      gap: 5px;

      strong {
        text-align: left;
      }
    )
  }
}
